<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="Bootstrap.php">
    <testsuites>
        <testsuite name="Sfive">
            <directory>./SfiveTest</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhiteList="true">
            <directory suffix=".php">../include</directory>
            <directory suffix=".php">../plugins</directory>
        </whitelist>
    </filter>
    <logging>
        <!--<log type="coverage-html" target="report/coverage/" charset="UTF-8" highlight="true" lowUpperBound="60" highLowerBound="60" />-->
        <log type="testdox-html" target="report/testdoc.html" />
        <log type="testdox-text" target="report/testdoc.txt" />
    </logging>
</phpunit>
