<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="Bootstrap.php">
    <testsuites>
        <testsuite name="Sfive">
            <directory>./SfiveTest</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhiteList="true">
            <directory suffix=".php">../include</directory>
            <directory suffix=".php">../plugins</directory>
        </whitelist>
    </filter>
</phpunit>
