@CHARSET "UTF-8";

@import url('http://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700,700italic');

body {
    background-color:#eaf3fb;
}

header {
    background-color:#000;
}

header h3 {
    border-bottom:1px solid #464646;
}

header h3, header h3 a {
    color:#fff;
}

header p, header p a {
    color:#b0b0b0;
}

footer {
    background-color:#4f4f4f;
}

footer p {
    color:#bfbfbf;
}

section#main {
    background-color:#fff;
}
h2, h3, h4 {
    border-bottom:1px solid #ffe99b;
    color:#000;
}

.navbar-orange .navbar-inner {
    background: #ffcb00;
    background: -moz-linear-gradient(top,  #ffcb00 0%, #ffbb00 27%, #ff8f00 76%, #ff8000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffcb00), color-stop(27%,#ffbb00), color-stop(76%,#ff8f00), color-stop(100%,#ff8000));
    background: -webkit-linear-gradient(top,  #ffcb00 0%,#ffbb00 27%,#ff8f00 76%,#ff8000 100%);
    background: -o-linear-gradient(top,  #ffcb00 0%,#ffbb00 27%,#ff8f00 76%,#ff8000 100%);
    background: -ms-linear-gradient(top,  #ffcb00 0%,#ffbb00 27%,#ff8f00 76%,#ff8000 100%);
    background: linear-gradient(to bottom,  #ffcb00 0%,#ffbb00 27%,#ff8f00 76%,#ff8000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcb00', endColorstr='#ff8000',GradientType=0 );
}

.navbar-orange .nav > li > a > [class^="icon-"],
.navbar-orange .nav > li > a > [class*=" icon-"] {
    background-image: url("../img/glyphicons-halflings-white.png");
}

.navbar-orange .nav > li > a {
    border-left:1px solid #ffcb00;
    color:#fff;
}

.navbar-orange .nav > li > a:focus,
.navbar-orange .nav > li > a:hover {
  color: #000;
  background-color: #ffcb00;
}

.navbar-orange .nav > li:last-child > a {
    border-right:1px solid #ffcb00;
}

.navbar-orange .nav > .active > a,
.navbar-orange .nav > .active > a:hover,
.navbar-orange .nav > .active > a:focus {
    box-shadow: none;
    background-color:#e50;
    color:#fff;
}

.content {
    margin:15px;
    font-family:Ubuntu;
}

.pager {
    border-top:1px solid #ffe99b;
    padding:10px 0;
}

.entryinfo {
    border:1px solid #ffe99b;
    margin-left:10px;
}

.entryinfo ul {
    margin:5px;
}
